<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>SignUp</h3>
    <form method="post" action="http://localhost:8080/user/signup">
        <label for="username">username</label>
        <input type="text" name="username">

        <label for="password">password</label>
        <input type="text" name="password">

        <select name="role">
            <option value="user">user</option>
            <option value="admin">admin</option>
        </select>

        <button type="submit">submit</button>

    </form>
    <hr>
    <a href="/user/login">login</a>
</body>
</html>